.App {
  text-align: center;
}
/* Basic styles for the App */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #ff7e5f, #aa9c91);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 400px;
  max-width: 90%;
}

.addTask {
  display: flex;
  margin-bottom: 20px;
}

.addTask input {
  padding: 10px;
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

.addTask input:focus {
  border-color: #007bff;
}

.addTask button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  background-color: #28a745;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
}

.addTask button:hover {
  background-color: #218838;
  transform: scale(1.05);
}

.list {
  width: 100%;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.task:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.task h1 {
  font-size: 18px;
  margin: 0;
  flex: 1;
}

.task button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s, transform 0.3s;
}

.task button:first-of-type {
  background-color: #007bff;
  color: white;
  margin-right: 5px;
}

.task button:first-of-type:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

.task button:last-of-type {
  background-color: #dc3545;
  color: white;
}

.task button:last-of-type:hover {
  background-color: #c82333;
  transform: scale(1.1);
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.User {
  color: red;
}
